In [68]:
# import data
# try 1 data set first
import pandas as pd
# can change the file name (refer to files folder)
df = pd.read_excel("./files/2022-23_T1.xlsx")

In [69]:
# check head
print(df.head())
print("")
# check if columns are there
for column in df.columns:
    print("Column Name:",column)

             Term                   Session     Bidding Window Course Code  \
0  2022-23 Term 1  Regular Academic Session  Round 2A Window 3     ACCT009
1  2022-23 Term 1  Regular Academic Session  Round 2A Window 3     ACCT101
2  2022-23 Term 1  Regular Academic Session  Round 2A Window 3     ACCT101
3  2022-23 Term 1  Regular Academic Session  Round 2A Window 3     ACCT101
4  2022-23 Term 1  Regular Academic Session  Round 2A Window 3     ACCT101

                                         Description Section  Vacancy  \
0  Overseas Project Experience (Accounting in Asi...      G1       25
1                               Financial Accounting      G1       45
2                               Financial Accounting     G10       45
3                               Financial Accounting     G11       45
4                               Financial Accounting     G12       45

   Opening Vacancy  Before Process Vacancy  D.I.C.E  After Process Vacancy  \
0               23                       2        0                      2
1               45                       2        0                      2
2               45                       4        0                      4
3               45                       4        0                      4
4               45                       2        0                      2

   Enrolled Students  Median Bid  Min Bid                  Instructor  \
0                 21         0.0      0.0   YUANTO KUSNADI, KEVIN LEE
1                 43         0.0      0.0             RICHARD CROWLEY
2                 41         0.0      0.0                DAVID SAMUEL
3                 41         0.0      0.0                DAVID SAMUEL
4                 43         0.0      0.0         CHARMAYNE HIGHFIELD

  School/Department
0               SOA
1               SOA
2               SOA
3               SOA
4               SOA

Column Name: Term
Column Name: Session
Column Name: Bidding Window
Column Name: Course Code
Column Name: Description
Column Name: Section
Column Name: Vacancy
Column Name: Opening Vacancy
Column Name: Before Process Vacancy
Column Name: D.I.C.E
Column Name: After Process Vacancy
Column Name: Enrolled Students
Column Name: Median Bid
Column Name: Min Bid
Column Name: Instructor
Column Name: School/Department

In [70]:
# throw "Term" and "Session" as they are likely to be repeated
df = df.rename(columns={"Bidding Window":"Window","Course Code":"Code","Description":"ModName",
                        "Opening Vacancy":"Opening Vacancy",
               "Before Process Vacancy":"BProcessVacancy","D.I.C.E":"DICE",
                "After Process Vacancy":"AProcessVacancy","Enrolled Students":"Enrolled",
               "Median Bid":"Median","Min Bid":"Min","Instructor":"Prof",
               "School/Department":"School"}) 
df = df.drop(['Term','Session'],axis=1)
# replace column name
print(df.head())

              Window     Code  \
0  Round 2A Window 3  ACCT009
1  Round 2A Window 3  ACCT101
2  Round 2A Window 3  ACCT101
3  Round 2A Window 3  ACCT101
4  Round 2A Window 3  ACCT101

                                             ModName Section  Vacancy  \
0  Overseas Project Experience (Accounting in Asi...      G1       25
1                               Financial Accounting      G1       45
2                               Financial Accounting     G10       45
3                               Financial Accounting     G11       45
4                               Financial Accounting     G12       45

   Opening Vacancy  BProcessVacancy  DICE  AProcessVacancy  Enrolled  Median  \
0               23                2     0                2        21     0.0
1               45                2     0                2        43     0.0
2               45                4     0                4        41     0.0
3               45                4     0                4        41     0.0
4               45                2     0                2        43     0.0

   Min                        Prof School
0  0.0   YUANTO KUSNADI, KEVIN LEE    SOA
1  0.0             RICHARD CROWLEY    SOA
2  0.0                DAVID SAMUEL    SOA
3  0.0                DAVID SAMUEL    SOA
4  0.0         CHARMAYNE HIGHFIELD    SOA

In [71]:
# get all IS mods price in round 1 window 1
# allISMods = df.query(["School == 'SIS'","Window == 'Round 1 Window 1'"])
# allISMods.head()
allISMods = df.loc[(df['School'] == 'SIS') & (df['Window'] == 'Round 1 Window 1'),["Code","ModName","Prof","Median","Min"]]
allISMods.head()

,Code,ModName,Prof,Median,Min
11821,COR-IS1702,Computational Thinking,MOK HENG NGEE,24.96,19.99
11822,COR-IS1702,Computational Thinking,SOON HUI SHIN VIVIEN,17.32,15.00
11823,COR-IS1702,Computational Thinking,NaN,0.00,0.00
11824,COR-IS1702,Computational Thinking,SOON HUI SHIN VIVIEN,0.00,0.00
11825,COR-IS1702,Computational Thinking,NaN,0.00,0.00

In [67]:
# group by 
groupedMods = allISMods.groupby(["Code","ModName"])['Median','Min'].mean()
# .agg(["Median","Min"])
groupedMods.round(2).sort_values(by='Median', ascending=True)

/var/folders/0y/v8qpzcw97kb4q0c34qdc6n100000gn/T/ipykernel_48571/2933276576.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  groupedMods = allISMods.groupby(["Code","ModName"])['Median','Min'].mean()

                                                               Median    Min
Code       ModName
IS480      IS Application Project(SMU-X)                         0.00   0.00
IS212      Software Project Management                           0.00   0.00
CS101      Programming Fundamentals I                            0.00   0.00
CS103      Linear Algebra for Computing Applications             0.00   0.00
CS104      Mathematical Foundations of Computing                 0.00   0.00
IS490      Google Analytics Work-Study Elective                  0.00   0.00
IS110      Information Systems and Innovation                    0.00   0.00
IS483      IS Project Experience (Applications)                  0.00   0.00
CS421      Introduction to Machine Learning                      6.00   5.00
SMT202     Analytics Applications for Smart Living              10.00  10.00
CS422      Reasoning, Planning and Learning under Uncertainty   10.01  10.00
CS442      Data Security and Privacy                            10.17  10.00
SMT112     Sustainable Digital Cities                           10.21  10.00
IS442      Object Oriented Programming                          10.60  10.00
CS420      Introduction to Artificial Intelligence              10.88  10.00
SMT201     Geographic Information Systems for Urban Planning    11.18  10.25
IS419      Retail Banking and Mobile Technology                 11.63  10.00
CS301      IT Solution Architecture                             13.11  10.00
CS440      Foundations of Cybersecurity                         14.45  10.01
IS444      Digital Banking Enterprise Architecture              17.25  10.00
IS445      Corporate Banking Technology and Blockchain          19.36  10.00
CS443      Software and Systems Security                        20.01  15.13
IS216      Web Application Development II                       22.43  15.55
IS210      Business Process Analysis & Solutioning              23.67  20.69
COR-IS1702 Computational Thinking                               24.50  17.63
IS111      Introduction to Programming                          25.61  18.95
IS211      Interaction Design and Prototyping                   28.45  21.89
CS462      Internet of Things: Technology and Applications...   30.00  18.84
ANLY104    Analytics Foundation                                 32.06  20.54
IS412      Enterprise Business Solutions(SMU-X)                 35.88  32.22
COR1305    Spreadsheet Modeling and Analytics                   38.68  29.87
IS215      Digital Business - Technologies and Transformation   41.95  38.89
IS428      Visual Analytics for Business Intelligence(SMU-X)    42.69  40.88
IS425      Managing Information Systems for Business Value...   44.87  41.74
IS424      Data Mining and Business Analytics                   45.94  44.76
CS204      Interconnection of Cyber Physical Systems            47.50  11.00
IS446      Managing Customer Relations with Analytics: Asi...   48.33  44.44
IS434      Social Analytics and Applications(SMU-X)             48.99  45.88